body{

	margin:0;
	padding:0;
}

html,body{
	background: url("images/bgTheme4.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	position: center;
	min-width: 100%;
	min-height: 100%;
	}

h5{
	margin-top: 20px;
	color: white;
	font-family: "Oswald";
	
}



.navbar1{
	background-color: black;
	background: rgba(0,0,0,0.7);
	
}


.topmenuitem{
	color:white;
	margin-right: 7px;
	margin-left: 7px;
	font-size:23px;
	font-weight: bold;
	font-family: "Oswald";
}

.menuItem{
	height: 230px;
}
.backgroundImage{
	height: 230px;
	width: 100%;
	/*opacity: 0.95;*/
	background: gray;
}

.btn-outline-primary{
	border-width: 0px;
	color:#343a40;
	font-weight: bold;
	background: rgba(248, 249, 250, 0.9);
	
}

.btnLabel{
	color:#403a40;
}

.img-holder{
	position: relative;	
	display:flex;
	justify-content: center;
	/*background-color: white;*/

}

.img-holder .link{
	position:absolute;

}

.link{
	width: 180px;
	top:150px;
}

.pagemo{
	background-color: white;
}

.bottomMenu{
margin-left: 15px;
margin-right: 15px;
color: white;
}

.footer-copyright{
	background-color: black;
	color:white;
	height: 40px;
	padding-top:10px;
}

.footer-content{
	background-color: white;
}

.footer-content{
	background:black;
	opacity:0.9;
}

.copyright{
	color:white;
}